@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*noinspection ALL*/
  main {
    min-height: -webkit-fill-available;
    min-height: 100vh;
  }

  [data-visible="open"] {
    height: auto;
  }
}
